<% layout('layout') %>

<section>
    <div class="section-container">
        <h2>Activity</h2>
        <ul id="activity-list" class="card-list"></ul>
    </div>
</section>

<section>
    <div class="section-container">
        <h1>upload poster image</h1>
        <form id="activityForm" method="post">
            <!-- add default value from EJS render -->
            <input type="text" name="title" value="<%- data?.title %>" placeholder="title" required>
            <input type="text" name="content" value="<%- data?.content %>" placeholder="content" required>
            <textarea name="detail" placeholder="details" required><%- data?.detail %></textarea>
            <input type="file" name="poster" accept="image/*" required>
            <div>
                <img src="<%- data?.imageUrl %>" alt="selected-image" width="100px">
            </div>
            <input type="number" name="lecturer" value="<%- data?.lecturer %>" placeholder="lecturer">
            <input type="datetime-local" name="start_date" value="<%- data?.start_date %>" placeholder="start date" required>
            <input type="datetime-local" name="end_date" value="<%- data?.end_date %>" placeholder="end date" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<script>
    document.getElementById('activityForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);

        const res = await fetch('/api/activity', {
            method: 'POST',
            body: formData
        });

        const data = await res.json();
        console.log(data);
    });
</script>

<script>
    fetch('/api/activity', {
        method: 'GET'
    })
        .then(response => response.json())
        .then(data => {
            const ul = document.getElementById('activity-list');
            data.rows.forEach(row => {
                const li = document.createElement('li');
                li.className = 'card';

                const img = document.createElement('img');
                img.className = 'card-img';
                img.src = row.imageUrl;
                img.alt = row.imageUrl;

                const cardBody = document.createElement('div');
                cardBody.className = 'card-body';

                const h3 = document.createElement('h3');
                h3.className = 'card-title';
                h3.textContent = row.title;

                const content = document.createElement('p');
                content.className = 'card-text';
                content.textContent = row.content;

                const date = document.createElement('p');
                date.className = 'card-date';
                const start = new Date(row.start_date).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });
                const end = new Date(row.end_date).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });
                date.textContent = `${start} → ${end}`;

                const a = document.createElement('a');
                a.textContent = "รายละเอียด"
                a.href = `/activity/${row.id}`
                a.className = 'link-act-id';

                cardBody.appendChild(h3);
                cardBody.appendChild(content);
                cardBody.appendChild(date);
                cardBody.appendChild(a);

                li.appendChild(img);
                li.appendChild(cardBody);

                ul.appendChild(li);
            });
        })
        .catch(error => console.error(error));
</script>


