<% layout('layout') %>

<div class="page-decor">
    <section class="course-header">
        <img src="<%- courses.imageUrl %>" alt="course image">
        <h2><%- courses.title %></h2>
        <p><%- courses.detail %></p>
        <p>By <%- courses.create_by %></p>
    </section>
</div>
<!-- create form for post/update module/asset -->
<!-- button to delete too -->
<% modules.forEach(m => { %>
    <section>
        <div class="section-container">
            <div class="section-container">
                <div class="frame">
                    <h3><%- m.title %></h2>
                    <p><%- m.content %></p>
                    <% asset.forEach(a => { %>
                        <a><%- a.asset_url %></a>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>
<% }); %>

<section>
    <div class="section-container">
        <div class="section-container">
            <% enroll.forEach(e => { %>
                
            <% }); %>
        </div>
    </div>
</section>



<script>
    
</script>